@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .custom-card {
        height: 100%;
    }

    #card-row{
        align-content:center;
        justify-content: center;
        margin-left: 10%;
    }

    #topGamesCarousel{
        margin-bottom: 20px;
    }
</style>

    <div class="row">
        <aside class="col-md-1" id="asideTag">
            
        </aside>

        <div class="container col-md-11">
        <h2 class="mb-4 text-center">@localizer["topGame"]</h2>

        <div id="topGamesCarousel" class="carousel slide w-25 mx-auto" data-ride="carousel">
            <div class="carousel-inner" id="carouselInner">
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#topGamesCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#topGamesCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="text-end">
            <a href="#" class="btn btn-primary">@localizer["showall_text"]</a>
        </div>

        <div class="row" id="card-row">
        </div>
    </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
        // Выполняем AJAX запрос для получения списка игр
        $.ajax({
            type:'GET',
            url: '@Url.Action("GetCarouselGames", "Home")',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                // Генерируем элементы карусели на основе полученных данных
                var carouselInner = $('#carouselInner');
                var isFirst = true;

                data.forEach(function (game) {
                    var carouselItem = $('<div class="carousel-item">');
                    if (isFirst) {
                        carouselItem.addClass('active');
                        isFirst = false;
                    }

                var gameLink = $('<a>').attr('href', '@Url.Action("GameDetails","Game")/' + game.id);
                    var gameImage = $('<img class="d-block mx-auto img-fluid">').attr('src', game.image).attr('alt', game.name);
                    var carouselCaption = $('<div class="carousel-caption">');
                    var title = $('<h5 class="card-title">').text(game.name);
                    var price = $('<p class="card-text">').text(game.price);

                    carouselCaption.append(title);
                    carouselCaption.append(price);
                    gameLink.append(gameImage);
                    gameLink.append(carouselCaption);
                    carouselItem.append(gameLink);
                    carouselInner.append(carouselItem);
                });

            },
            error: function () {
                // Обработка ошибки, если не удалось получить данные
                console.error('Ошибка при получении списка игр.');
            }
        });

            $.ajax({
                url: '@Url.Action("GetAllGames", "Home")',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    var cardRow = $('#card-row');

                data.forEach(function (game) {
                    var col = $('<div class="col-md-4 mb-3">');
                    var card = $('<div class="card custom-card w-50">');
                    var gameLink = $('<a>').attr('href', '@Url.Action("GameDetails","Game")/' + game.id);
                    var gameImage = $('<img class="card-img">').attr('src', game.image).attr('alt', game.name);
                    var cardBody = $('<div class="card-body">');
                    var title = $('<h5 class="card-title">').text(game.name);
                    var price = $('<p class="card-text">').text(game.price);

                    cardBody.append(title);
                    cardBody.append(price);
                    gameLink.append(gameImage);
                    gameLink.append(cardBody);
                    card.append(gameLink);
                    col.append(card);
                    cardRow.append(col);
                });
                },
                error: function () {
                    console.error('Ошибка при получении списка игр.');
                }
            });

    $.get('/Home/GetAllTags', function (data) {
        var ulList = $('<ul></ul>');
        let text = '@localizer["showall_text"]';
        let i;
        data.forEach(function (tag) {
            var li = $('<li></li>').text(tag.name);
            i++;
            li.on('mouseenter', function () {
                var img = $('<img>').attr('src', tag.imageBackground).css({
                    'max-width': '100px',
                    'max-height': '100px',
                    'z-index': '100',
                });
                li.append(img);
            });

            li.on('mouseleave', function () {
                li.find('img').remove();
            });

            li.on('click', function () {
                window.location.href = '@Url.Action("GamesByTag","Game")?tag=' + encodeURIComponent(tag.name);
            });

            ulList.append(li);

            if (i === 29) {
                var linkText = $('<a>').attr('href', '/Game/ListTags').text(text);
                var listItem = $('<li>').append(linkText);
                ulList.append(listItem);
            }
        });

        $('#asideTag').append(ulList);
    });
    
</script>
