@using Microsoft.AspNetCore.Http
@using System.Globalization;
@{
    var currentLang = CultureInfo.CurrentCulture.Name;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UI</title>
    <link rel="stylesheet" href="~/css/standart.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav id="myNavBar" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="~/Home/Index">
                    UI
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse align-content-between" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <!-- Add more pages here as needed -->
                    </ul>
                    <div class="container">
                        @using (Html.BeginForm("Search", "Game", FormMethod.Post))
                        {
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="GameName" aria-label="Search">
                            <button class="btn btn-outline-light" type="submit">Search</button>
                        }
                    </div>

                    <button><a href="~/MyOffice/Purchases">My Purchases</a></button>

                    <a class="cart-icon" href="~/MyOffice/Card">
                        <img src="cart-icon.png" alt="Корзина">
                    </a>

                    <form asp-controller="Home" asp-action="ChangeLanguage" asp-route-returnUrl="@Context.Request.Path" method="post" class="language-selector-form">
                        <select name="lang" onchange="this.form.submit()">
                            <option value="en" selected="@(currentLang == "en")">English</option>
                            <option value="uk" selected="@(currentLang == "uk")">Українська</option>
                        </select>
                    </form>
                    @await Component.InvokeAsync("LoginRegister")
                </div>
            </div>
        </nav>
    </header>
    <div id="main" class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; 2023 - UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/start.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
