@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model UI.Models.Game.GamesViewModel
<style>
    .custom-card {
        height: 100%;
        transition: transform 0.3s;
    }

        .custom-card:hover {
            transform: scale(1.05);
        }

    #card-row {
        align-content: center;
        justify-content: center;
        margin-left: 10%;
    }
</style>
<div class="container align-content-center justify-content-center">
    @foreach (var game in Model.Games)
    {
        <a href="@Url.Action("GameDetails", "Game", new { id = game.Id })">
            <h4>@game.Name</h4>
            <img src="@game.Image" alt="Game Image" style="width: 200px" />
            <p>Price: @game.Price</p>
            <p>Owned: @game.Owned</p>
        </a>
    }


    <div class="pagination">
        @if (Model.PageNumber > 1)
        {
            <a class="btn btn-outline-dark" href="@Url.Action("GamesByTag", "Game", new { page = Model.PageNumber - 1, pageSize = Model.PageSize })">Previous</a>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a class="btn btn-outline-dark" href="@Url.Action("GamesByTag", "Game", new { page = i, pageSize = Model.PageSize })" @(i == Model.PageNumber ? "class=current" : "")>@i</a>
        }

        @if (Model.PageNumber < Model.TotalPages)
        {
            <a class="btn btn-outline-dark" href="@Url.Action("GamesByTag", "Game", new { page = Model.PageNumber + 1, pageSize = Model.PageSize })">Next</a>
        }
    </div>
</div>
